{% extends "base.html" %}


{% block content %}
  <div class="container">
    <div>
      <a class="btn btn-primary btn-icon-split" href="http://localhost:5001" target="_blank" role="button">
        <span class="icon text-white-50">
          <i class="fas fa-external-link-alt"></i>
        </span>
        <span class="text">MLFLOW</span>
      </a>
    </div>

    <div class="accordion mt-5" id="accordionModels">
      <div class="card">
        <div class="card-header" id="predictions">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSettings" aria-expanded="true" aria-controls="collapseSettings">
              <h5>Settings</h5>
            </button>
          </h2>
        </div>
        <div id="collapseSettings" class="collapse" aria-labelledby="settings" data-parent="#accordionModels">
          <div class="card-body">
            <form method="POST" action="{{ url_for("admin.models_admin", collapse="collapseSettings") }}" enctype="multipart/form-data">
              {{ settings_form.hidden_tag() }}
              <fieldset class="form-group">
                <legend>Relevance Models</legend>
                <div class="form-group">
                  {{ settings_form.batch_size.label(class="form-control-label") }}
                  {% if settings_form.batch_size.errors %}
                    {{ settings_form.batch_size(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in settings_form.batch_size.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ settings_form.batch_size(class="form-control form-control-lg") }}
                    <small>{{ settings_form.batch_size.description }}</small>
                  {% endif %}
                </div>
                <div class="form-group">
                  {{ settings_form.predict_all(class="btn btn-primary") }}
                  <br><small>{{ settings_form.predict_all.description }}</small>
                </div>
                <hr>
                <div class="mb-4">
                  <a class="btn btn-primary btn-icon-split" href="" role="button">
                    <span class="icon text-white-50">
                      <i class="far fa-trash-alt"></i>
                    </span>
                    <span>{{ settings_form.empty_bin(class="btn btn-primary") }}</span>
                  </a>
                  <br><small>{{ settings_form.empty_bin.description }}</small>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="trainModel">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTrain" aria-expanded="false" aria-controls="collapseTrain">
              <h5>Train New Model</h5>
            </button>
          </h2>
        </div>
        <div id="collapseTrain" class="collapse" aria-labelledby="trainModel" data-parent="#accordionModels">
          <div class="card-body">
            <form method="POST" action="{{ url_for("admin.models_admin", collapse="collapseTrain") }}" enctype="multipart/form-data">
              {{ train_form.hidden_tag() }}
              <fieldset class="form-group">
                <legend>Input data</legend>
                <div class="form-group">
                  <div class="form-check">
                    {% for subfield in train_form.dataloader %}
                      <tr>
                        <td>{{ subfield }}</td>
                        <td>{{ subfield.label }}</td>
                      </tr>
                    {% endfor %}
                    {% if train_form.dataloader.errors %}
                      <div style="color:#e74a3b">
                        {% for error in train_form.dataloader.errors %}
                          <small>{{ error }}</small>
                        {% endfor %}
                      </div>
                    {% endif %}
                  </div>
                </div>
                <div class="form-group ml-5">
                  {{ train_form.datafile.label(class="form-control-label") }}
                  {% if train_form.datafile.errors %}
                    {{ train_form.datafile(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in train_form.datafile.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ train_form.datafile(class="form-control form-control-lg") }}
                    <small>{{ train_form.datafile.description }}</small>
                  {% endif %}
                </div>
                <div class="form-group ml-5">
                  {{ train_form.content_col.label(class="form-control-label") }}
                  {% if train_form.content_col.errors %}
                    {{ train_form.content_col(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in train_form.content_col.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ train_form.content_col(class="form-control form-control-lg") }}
                    <small>{{ train_form.content_col.description }}</small>
                  {% endif %}
                </div>
                <div class="form-group ml-5">
                  {{ train_form.label_col.label(class="form-control-label") }}
                  {% if train_form.label_col.errors %}
                    {{ train_form.label_col(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in train_form.label_col.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ train_form.label_col(class="form-control form-control-lg") }}
                    <small>{{ train_form.label_col.description }}</small>
                  {% endif %}
                </div>
                <div class="form-group">
                  {{ train_form.train_size.label(class="form-control-label") }}
                  {% if train_form.train_size.errors %}
                    {{ train_form.train_size(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in train_form.train_size.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ train_form.train_size(class="form-control form-control-lg") }}
                    <small>{{ train_form.train_size.description }}</small>
                  {% endif %}
                </div>
                <div class="form-group">
                  {{ train_form.test_size.label(class="form-control-label") }}
                  {% if train_form.test_size.errors %}
                    {{ train_form.test_size(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in train_form.test_size.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ train_form.test_size(class="form-control form-control-lg") }}
                    <small>{{ train_form.test_size.description }}</small>
                  {% endif %}
                </div>
              </fieldset>
              <fieldset class="form-group">
                <legend>Model parameters</legend>
                <div class="form-group">
                  {{ train_form.checkpoint.label(class="form-control-label") }}
                  {% if train_form.checkpoint.errors %}
                    {{ train_form.checkpoint(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in train_form.checkpoint.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                  </div>
                  {% else %}
                    {{ train_form.checkpoint(class="form-control form-control-lg") }}
                    <small>HuggingFace base checkpoint identifier. See the <a href="https://huggingface.co/models?language=fr,en&other=autotrain_compatible&sort=downloads">HuggingFace model repository</a> for more.</small>
                  {% endif %}
                </div>
                <div class="form-group">
                  {{ train_form.model_type.label(class="form-control-label") }}
                  {% if train_form.model_type.errors %}
                    {{ train_form.model_type(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in train_form.model_type.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ train_form.model_type(class="form-control form-control-lg") }}
                    <small>{{ train_form.model_type.description }}</small>
                  {% endif %}
                </div>
                <div class="form-group">
                  {{ train_form.epochs.label(class="form-control-label") }}
                  {% if train_form.epochs.errors %}
                    {{ train_form.epochs(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in train_form.epochs.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ train_form.epochs(class="form-control form-control-lg") }}
                    <small>{{ train_form.epochs.description }}</small>
                  {% endif %}
                </div>
                <div class="form-group">
                  {{ train_form.batch_size.label(class="form-control-label") }}
                  {% if train_form.batch_size.errors %}
                    {{ train_form.batch_size(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in train_form.batch_size.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ train_form.batch_size(class="form-control form-control-lg") }}
                    <small>{{ train_form.batch_size.description }}</small>
                  {% endif %}
                </div>
                <div class="form-group">
                  {{ train_form.labels.label(class="form-control-label") }}
                  {% if train_form.labels.errors %}
                    {{ train_form.labels(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in train_form.labels.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ train_form.labels(class="form-control form-control-lg") }}
                    <small>{{ train_form.labels.description }}</small>
                  {% endif %}
                </div>
                <div class="form-group">
                  {{ train_form.inverse_labels.label(class="form-control-label") }}
                  {% if train_form.inverse_labels.errors %}
                    {{ train_form.inverse_labels(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in train_form.inverse_labels.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ train_form.inverse_labels(class="form-control form-control-lg") }}
                    <small>{{ train_form.inverse_labels.description }}</small>
                  {% endif %}
                </div>
                <div class="form-group">
                  {{ train_form.initial_lr.label(class="form-control-label") }}
                  {% if train_form.initial_lr.errors %}
                    {{ train_form.initial_lr(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in train_form.initial_lr.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ train_form.initial_lr(class="form-control form-control-lg") }}
                    <small>{{ train_form.initial_lr.description }}</small>
                  {% endif %}
                </div>
                <div class="form-group">
                  {{ train_form.final_lr.label(class="form-control-label") }}
                  {% if train_form.final_lr.errors %}
                    {{ train_form.final_lr(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in train_form.final_lr.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ train_form.final_lr(class="form-control form-control-lg") }}
                    <small>{{ train_form.final_lr.description }}</small>
                  {% endif %}
                </div>
                <div class="form-group">
                  {{ train_form.class_weight.label(class="form-control-label") }}
                  {% if train_form.class_weight.errors %}
                    {{ train_form.class_weight(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in train_form.class_weight.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ train_form.class_weight(class="form-control form-control-lg") }}
                    <small>{{ train_form.class_weight.description }}</small>
                  {% endif %}
                </div>
                <div class="form-group">
                  <div class="form-check">
                    {{ train_form.only_head(class="form-check-input") }}
                    {{ train_form.only_head.label(class="form-check-label") }}
                  </div>
                  <small>{{ train_form.only_head.description }}</small>
                </div>
                <div class="form-group">
                  <div class="form-check">
                    {{ train_form.evaluate(class="form-check-input") }}
                    {{ train_form.evaluate.label(class="form-check-label") }}
                  </div>
                  <small>{{ train_form.evaluate.description }}</small>
                </div>
              </fieldset>
              <fieldset class="form-group">
                <legend>Mlflow parameters</legend>
                <div class="form-group">
                  {{ train_form.experiment_name.label(class="form-control-label") }}
                  {% if train_form.experiment_name.errors %}
                    {{ train_form.experiment_name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in train_form.experiment_name.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ train_form.experiment_name(class="form-control form-control-lg") }}
                    <small>{{ train_form.experiment_name.description }}</small>
                  {% endif %}
                </div>
                <div class="form-group">
                  {{ train_form.run_name.label(class="form-control-label") }}
                  {% if train_form.run_name.errors %}
                    {{ train_form.run_name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in train_form.run_name.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ train_form.run_name(class="form-control form-control-lg") }}
                    <small>{{ train_form.run_name.description }}</small>
                  {% endif %}
                </div>
                <div class="form-group">
                  {{ train_form.run_tags.label(class="form-control-label") }}
                  {% if train_form.run_tags.errors %}
                    {{ train_form.run_tags(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in train_form.run_tags.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ train_form.run_tags(class="form-control form-control-lg") }}
                    <small>{{ train_form.run_tags.description }}</small>
                  {% endif %}
                </div>
                <div class="form-group">
                  {{ train_form.run_description.label(class="form-control-label") }}
                  {% if train_form.run_description.errors %}
                    {{ train_form.run_description(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in train_form.run_description.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ train_form.run_description(class="form-control form-control-lg") }}
                    <small>{{ train_form.run_description.description }}</small>
                  {% endif %}
                </div>
              </fieldset>
              <div>
                {{ train_form.train(class="btn btn-primary") }}
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="registerModel">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseRegister" aria-expanded="false" aria-controls="collapseRegister">
              <h5>Register Existing Model</h5>
            </button>
          </h2>
        </div>
        <div id="collapseRegister" class="collapse" aria-labelledby="registerModel" data-parent="#accordionModels">
          <div class="card-body">
            <form method="POST" action="{{ url_for("admin.models_admin", collapse="collapseRegister") }}" enctype="multipart/form-data">
              {{ register_form.hidden_tag() }}
              <fieldset class="form-group">
                <legend>Model to register</legend>
                <div class="form-group">
                  {{ register_form.modelfile.label(class="form-control-label") }}
                  {% if register_form.modelfile.errors %}
                    {{ register_form.modelfile(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in register_form.modelfile.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ register_form.modelfile(class="form-control form-control-lg") }}
                    <small>{{ register_form.modelfile.description }}</small>
                  {% endif %}
                </div>
                <div class="form-group">
                  {{ register_form.configfile.label(class="form-control-label") }}
                  {% if register_form.configfile.errors %}
                    {{ register_form.configfile(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in register_form.configfile.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ register_form.configfile(class="form-control form-control-lg") }}
                    <small>{{ register_form.configfile.description }}</small>
                  {% endif %}
                </div>
                <legend>Model evaluation</legend>
                <div class="form-group">
                  <div class="form-check">
                    {{ register_form.evaluate(class="form-check-input") }}
                    {{ register_form.evaluate.label(class="form-check-label") }}
                  </div>
                  <small>{{ register_form.evaluate.description }}</small>
                </div>
                <div class="form-group">
                  <div class="form-check">
                    {% for subfield in register_form.dataloader %}
                      <tr>
                        <td>{{ subfield }}</td>
                        <td>{{ subfield.label }}</td>
                      </tr>
                    {% endfor %}
                    {% if register_form.dataloader.errors %}
                      <div style="color:#e74a3b">
                        {% for error in register_form.dataloader.errors %}
                          <small>{{ error }}</small>
                        {% endfor %}
                      </div>
                    {% endif %}
                  </div>
                </div>
                <div class="form-group ml-5">
                  {{ register_form.datafile.label(class="form-control-label") }}
                  {% if register_form.datafile.errors %}
                    {{ register_form.datafile(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in register_form.datafile.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ register_form.datafile(class="form-control form-control-lg") }}
                    <small>{{ register_form.datafile.description }}</small>
                  {% endif %}
                </div>
                <div class="form-group ml-5">
                  {{ register_form.content_col.label(class="form-control-label") }}
                  {% if register_form.content_col.errors %}
                    {{ register_form.content_col(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in register_form.content_col.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ register_form.content_col(class="form-control form-control-lg") }}
                    <small>{{ register_form.content_col.description }}</small>
                  {% endif %}
                </div>
                <div class="form-group ml-5">
                  {{ register_form.label_col.label(class="form-control-label") }}
                  {% if register_form.label_col.errors %}
                    {{ register_form.label_col(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in register_form.label_col.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ register_form.label_col(class="form-control form-control-lg") }}
                    <small>{{ register_form.label_col.description }}</small>
                  {% endif %}
                </div>
                <div class="form-group">
                  {{ register_form.test_size.label(class="form-control-label") }}
                  {% if register_form.test_size.errors %}
                    {{ register_form.test_size(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in register_form.test_size.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ register_form.test_size(class="form-control form-control-lg") }}
                    <small>{{ register_form.test_size.description }}</small>
                  {% endif %}
                </div>
                <div class="form-group">
                  {{ register_form.labels.label(class="form-control-label") }}
                  {% if register_form.labels.errors %}
                    {{ register_form.labels(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in register_form.labels.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ register_form.labels(class="form-control form-control-lg") }}
                    <small>{{ register_form.labels.description }}</small>
                  {% endif %}
                </div>
                <div class="form-group">
                  {{ register_form.inverse_labels.label(class="form-control-label") }}
                  {% if register_form.inverse_labels.errors %}
                    {{ register_form.inverse_labels(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in register_form.inverse_labels.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ register_form.inverse_labels(class="form-control form-control-lg") }}
                    <small>{{ register_form.inverse_labels.description }}</small>
                  {% endif %}
                </div>
                <div class="form-group">
                  {{ register_form.batch_size.label(class="form-control-label") }}
                  {% if register_form.batch_size.errors %}
                    {{ register_form.batch_size(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in register_form.batch_size.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ register_form.batch_size(class="form-control form-control-lg") }}
                    <small>{{ register_form.batch_size.description }}</small>
                  {% endif %}
                </div>
              </fieldset>
              <fieldset class="form-group">
                <legend>Model parameters</legend>
                <div class="form-group">
                  {{ register_form.checkpoint.label(class="form-control-label") }}
                  {% if register_form.checkpoint.errors %}
                    {{ register_form.checkpoint(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in register_form.checkpoint.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                  </div>
                  {% else %}
                    {{ register_form.checkpoint(class="form-control form-control-lg") }}
                    <small>{{ register_form.checkpoint.description }}</small>
                  {% endif %}
                </div>
                <div class="form-group">
                  {{ register_form.model_type.label(class="form-control-label") }}
                  {% if register_form.model_type.errors %}
                    {{ register_form.model_type(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in register_form.model_type.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ register_form.model_type(class="form-control form-control-lg") }}
                    <small>{{ register_form.model_type.description }}</small>
                  {% endif %}
                </div>
                <div class="form-group">
                  {{ register_form.epochs.label(class="form-control-label") }}
                  {% if register_form.epochs.errors %}
                    {{ register_form.epochs(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in register_form.epochs.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ register_form.epochs(class="form-control form-control-lg") }}
                    <small>{{ register_form.epochs.description }}</small>
                  {% endif %}
                </div>
                <div class="form-group">
                  {{ register_form.train_size.label(class="form-control-label") }}
                  {% if register_form.train_size.errors %}
                    {{ register_form.train_size(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in register_form.train_size.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ register_form.train_size(class="form-control form-control-lg") }}
                    <small>{{ register_form.train_size.description }}</small>
                  {% endif %}
               </div>
               <div class="form-group">
                  {{ register_form.initial_lr.label(class="form-control-label") }}
                  {% if register_form.initial_lr.errors %}
                    {{ register_form.initial_lr(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in register_form.initial_lr.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ register_form.initial_lr(class="form-control form-control-lg") }}
                    <small>{{ register_form.initial_lr.description }}</small>
                  {% endif %}
                </div>
                <div class="form-group">
                  {{ register_form.final_lr.label(class="form-control-label") }}
                  {% if register_form.final_lr.errors %}
                    {{ register_form.final_lr(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in register_form.final_lr.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ register_form.final_lr(class="form-control form-control-lg") }}
                    <small>{{ register_form.final_lr.description }}</small>
                  {% endif %}
                </div>
                <div class="form-group">
                  {{ register_form.class_weight.label(class="form-control-label") }}
                  {% if register_form.class_weight.errors %}
                    {{ register_form.class_weight(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in register_form.class_weight.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ register_form.class_weight(class="form-control form-control-lg") }}
                    <small>{{ register_form.class_weight.description }}</small>
                  {% endif %}
                </div>
                <div class="form-group">
                  <div class="form-check">
                    {{ register_form.only_head(class="form-check-input") }}
                    {{ register_form.only_head.label(class="form-check-label") }}
                  </div>
                  <small>{{ register_form.only_head.description }}</small>
                </div>
                <div class="form-group">
                  {{ register_form.artifacts.label(class="form-control-label") }}
                  {% if register_form.artifacts.errors %}
                    {{ register_form.artifacts(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in register_form.artifacts.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ register_form.artifacts(class="form-control form-control-lg") }}
                    <small>{{ register_form.artifacts.description }}</small>
                  {% endif %}
                </div>
              </fieldset>
              <fieldset class="form-group">
                <legend>Mlflow parameters</legend>
                <div class="form-group">
                  {{ register_form.experiment_name.label(class="form-control-label") }}
                  {% if register_form.experiment_name.errors %}
                    {{ register_form.experiment_name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in register_form.experiment_name.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ register_form.experiment_name(class="form-control form-control-lg") }}
                    <small>{{ register_form.experiment_name.description }}</small>
                  {% endif %}
                </div>
                <div class="form-group">
                  {{ register_form.run_name.label(class="form-control-label") }}
                  {% if register_form.run_name.errors %}
                    {{ register_form.run_name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in register_form.run_name.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ register_form.run_name(class="form-control form-control-lg") }}
                    <small>{{ register_form.run_name.description }}</small>
                  {% endif %}
                </div>
                <div class="form-group">
                  {{ register_form.run_tags.label(class="form-control-label") }}
                  {% if register_form.run_tags.errors %}
                    {{ register_form.run_tags(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in register_form.run_tags.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ register_form.run_tags(class="form-control form-control-lg") }}
                    <small>{{ register_form.run_tags.description }}</small>
                  {% endif %}
                </div>
                <div class="form-group">
                  {{ register_form.run_description.label(class="form-control-label") }}
                  {% if register_form.run_description.errors %}
                    {{ register_form.run_description(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in register_form.run_description.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ register_form.run_description(class="form-control form-control-lg") }}
                    <small>{{ register_form.run_description.description }}</small>
                  {% endif %}
                </div>
              </fieldset>
              <div>
                {{ register_form.register(class="btn btn-primary") }}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block scripts %}
  <script type="text/javascript">
    if (window.location.search == '?collapse=collapseSettings') {
        $('#collapseSettings').addClass('show');
    }
    if (window.location.search == '?collapse=collapseTrain') {
        $('#collapseTrain').addClass('show');
    }
    if (window.location.search == '?collapse=collapseRegister') {
        $('#collapseRegister').addClass('show');
    }


  </script>
{% endblock scripts %}
