<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}" rel="stylesheet">

  {% if title %}
    <title>CEA - {{ title }}</title>
  {% else %}
    <title>CEA</title>
  {% endif %}

  {% block head %}{% endblock %}
</head>

<body id="page-top">
  <div id="wrapper">
    {% include 'partials/sidebar.html' %}
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        {% include 'partials/topbar.html' %}
        <div class="container-fluid">
          {% block content %}{% endblock%}
        </div>
      </div>
      {% include 'partials/footer.html' %}
    </div>
  </div>

  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>

  {% block scripts %}{% endblock %}
</body>

</html>