{% from "macros.html" import data_table %}


{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" type="text/css" href={{ url_for("static", filename="DataTables/datatables.min.css") }}/>
{% endblock head %}

{% block content %}
  {{ data_table(headers, data) }}
{% endblock content %}

{% block scripts %}
  
  <script type="text/javascript" src={{ url_for("static", filename="DataTables/datatables.min.js") }}></script>

  <script>
    $(document).ready(function () {
        $('#data').DataTable({
            "columns": [
                {"orderable": false, "searchable": false},
                {"searchable": false},
                null,
                null,
                null,
                {"searchable": false}
            ],
        });

    });

    var data = {{ data| safe }};
    for (var p in data[0]) {
    if (data[0].hasOwnProperty(p)) {
        alert(p + ': ' + data[0].p);
    }
} 
  </script> 

{% endblock scripts %}
