{% macro link(text, url) -%}
    <a href="{{ url }}">{{ text }}</a>
{%- endmacro %}

{% macro data_table(headers, data) %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        {% for header in headers %}
          <th>{{ header }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in data %}
           <tr>
              <td>
                  <a href="{{ row.url }}" target="_blank">
                    <img src="{{ url_for('static', filename='img/linkedin.png') }}" alt="LinkedIn" width="15" height="15"/>
                  </a>
              </td>
              <td>{{ row.class_id }}</td>
              <td>{{ row.author }}</td>
              <td>
                  <a href="/document/{{ row.id }}">
                  {{ row.content }}
                  </a>
              </td>
              <td>{{ row.date }}</td>
              <td>
                  <meter id="score" value="{{ row.prediction }}" min="0" max="100">{{ row.prediction }}</meter>
                  <span>{{ row.prediction }}</span>
              </td>
            </tr>

      {% endfor %}
    </tbody>
  </table>
{% endmacro %}
